<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.othermodule">

    <application>
        <activity
            android:name="com.mvvm.othermodule.otherpage.listpage.ArticleListActivity"
            android:exported="true" />
        <activity
            android:name="com.mvvm.othermodule.otherpage.OtherActivity"
            android:exported="true" />
    </application>

</manifest>